<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyric~音乐工厂</title>
    <link rel="stylesheet" href="../../public/home/css/frame.css">
    <link rel="stylesheet" href="../../public/home/css/player.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../public/image/sprite/favicon.ico" />
    <script src="../../Lib/angular/angular.min.js"></script>
    <script src="../../Lib/angular/angular-route.min.js"></script>
    <script src="../../Lib/seajs/sea.js"></script>
    <script src="../../public/home/js/start.js"></script>
</head>
<body ng-app="routingApp">

<div class="header">
    <div class="header-center center">
        <h1>Lyric 音乐场</h1>
        <ul class="nav">
            <li><a href="#/home" class="active">发现音乐</a></li>
            <li><a href="#/home">我的音乐</a></li>
            <li><a href="">热门专辑</a></li>
            <li><a href="">在线好友</a></li>
        </ul>
        <div class="top-tool">
            <div class="top-search">
                <i class="icn-search"></i>
                <input type="text" placeholder="单曲/歌手/专辑/歌单/用户">
                <ul class="result"></ul>
            </div>
        </div>
    </div>
    <div class="sub-list">
        <div class="center">
            <ul class="sub-nav">
                <li><a class="active" href="javascript:;">推荐</a></li>
                <li><a href="javascript:;">排行榜</a></li>
                <li><a href="javascript:;">歌单</a></li>
                <li><a href="javascript:;">主播电台</a></li>
                <li><a href="javascript:;">歌手</a></li>
                <li><a href="javascript:;">新碟上架</a></li>
            </ul>
        </div>
    </div>
</div>
<div ng-view></div>

<div class="footer">
    <div class="footer-center">
        <a class="recruit" href="javascript:;">
            <p>独立音乐人招募计划</p>
            <span>加入我们 即将与超过亿万乐迷互动</span>
        </a>
        <div class="copy">
            <ul class="copy-list">
                <li><a href="javascript:;">关于本站</a></li><li>-</li>
                <li><a href="javascript:;"> 客户服务</a></li><li>-</li>
                <li><a href="javascript:;"> 服务条款</a></li><li>-</li>
                <li><a href="javascript:;"> 网站导航</a></li>
                <span>Lyric旗下版权所有©1997-2015 </span>
            </ul>
            <p>网络文化经营许可证：粤网文[2014]0332-034号</p>
        </div>
        <a class="feedback" href="javascript:;"><i></i>意见反馈</a>
    </div>
</div>

<!-- 播放条 -->
<div class="audio-player">
    <div class="center-btn"></div>
    <div class="table">
        <div class="tab-title">
            <h3>播放列表</h3>
            <a href="javascript:;" class="icon-empty"><span></span>清空列表</a>
            <a href="javascript:;" class="icon-close" title="关闭"></a>
        </div>
        <div class="tab-content" id="tab-content">
            <ul class="mtab" id="tab"><!-- 播放列表 --></ul>
            <div class="empty">播放列表为空哦</div>
        </div>
        <div class="scrol"><span class="icon-scl"></span></div>
    </div>
    <div class="slide">
        <div class="play-btns">
            <a href="" class="prv"></a>
            <a href="" class="play play-ply"></a>
            <a href="" class="nxt"></a>
        </div>
        <div class="play-head">
            <a href="#"><img src="../../public/image/sprite/default_album.jpg" alt=""></a>
        </div>
        <div class="play-ing">
            <div class="ptitle">
                <a href="#" class="title" title="曲名"></a>
                <a href="#" class="singer" title="演绎者"></a>
            </div>
            <div class="pbar">
                <div class="barbg"><!-- 总进度条 -->
                    <div class="rdy"></div><!-- 已加载 -->
                    <div class="cur">
                        <div class="cur-inner">
                            <span class="btn-cur"><i></i></span>
                        </div>
                    </div>
                </div>
                <span class="clock"><i>00:00</i> / <em>00:00</em></span>
            </div>
        </div>
        <div class="play-ctrl">
            <div class="cbar">
                <div class="barbg"><!-- 音量调节条 -->
                    <div class="cur">
                        <span class="btn-cur" id="ctrl-cur"></span>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="icon-vol" title="音量"></a>
            <a href="javascript:;" class="icon-loop" id="data-lop" title="循环"></a>
            <div class="lop-hint">单曲循环</div>
            <span class="music-list">
                <a href="javascript:;" class="icon-list" title="播放列表">0</a>
                <em>已添加到播放列表</em>
            </span>
        </div>
    </div>
    <audio id="player" controls="false"></audio>
</div>

</body>
</html>