<link rel="stylesheet" href="../../public/home/css/index.css">
<div class="wrap">
    <div class="main-top">
        <div class="center">
            <div class="section">
                <ul class="slides">
                    <li data-bg="#020202"><a href=""><img src="../../public/image/poster/player-8.jpg" alt=""></a></li>
                    <li data-bg="#AFB2BB"><a href=""><img src="../../public/image/poster/player-7.jpg" alt=""></a></li>
                    <li data-bg="#040001"><a href=""><img src="../../public/image/poster/player-6.jpg" alt=""></a></li>
                    <li data-bg="#FFFAEC"><a href=""><img src="../../public/image/poster/player-1.jpg" alt=""></a></li>
                    <li data-bg="#312E29"><a href=""><img src="../../public/image/poster/player-3.jpg" alt=""></a></li>
                    <li data-bg="#E7E5E6"><a href=""><img src="../../public/image/poster/player-2.jpg" alt=""></a></li>
                    <li data-bg="#1B4D92"><a href=""><img src="../../public/image/poster/player-4.jpg" alt=""></a></li>
                    <li data-bg="#3C9CCE"><a href=""><img src="../../public/image/poster/player-5.jpg" alt=""></a></li>
                </ul>
                <ul class="sub-dots">
                    <li class="active">●</li><li>●</li><li>●</li><li>●</li><li>●</li><li>●</li><li>●</li><li>●</li>
                </ul>
            </div>
            <div class="sidebar">
                <canvas id="canvas-bubble" width="245" height="335"></canvas>
            </div>
        </div>
    </div>
    <div class="wrap-in">
        <div class="column main-class">
            <div class="sidebar">
                <h3><i class="icon"></i>歌曲分类</h3>
                <ul class="hot-tab">
                    <li><a href="javascript:;">华语 - 流行<i></i></a></li>
                    <li><a href="javascript:;">轻音 - 弹奏<i></i></a></li>
                    <li><a href="javascript:;">摇滚 - 电子<i></i></a></li>
                    <li><a href="javascript:;">古典 - 民谣</a></li>
                </ul>
                <a href="javascript:;" class="more">所有分类&gt;</a>
            </div>
            <div class="section">
                <p>拖拽你的mp3文件到这里</p>
            </div>
        </div>

        <div class="column main-rank">
            <div class="section">
                <h3>排行榜<span>RANKLIST</span></h3>
                <div class="rank">
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicUp.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐飙升榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="up"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicNew.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐新歌榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="new"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicCreate.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">原创歌曲榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="create"></a>
                        </div>
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="sidebar">
                <h3>听友评论</h3>
            </div>
        </div>
    </div>
</div>
