<link rel="stylesheet" href="../../public/home/css/index.css">
<div class="wrap">
    <div class="wrap-in">
        <div class="cloumn main-top">
            轮播图#######################
        </div>
        <div class="column main-class">
            <div class="sidebar">
                <h3><i class="icon"></i>歌曲分类</h3>
                <ul class="hot-tab">
                    <li><a href="javascript:;">华语 - 流行<i></i></a></li>
                    <li><a href="javascript:;">轻音 - 弹奏<i></i></a></li>
                    <li><a href="javascript:;">摇滚 - 电子<i></i></a></li>
                    <li><a href="javascript:;">古典 - 民谣</a></li>
                </ul>
                <a href="javascript:;" class="more">所有分类&gt;</a>
            </div>
            <div class="section">
                <h3>热门歌单<span>PLAYLIST</span></h3>
                <ul class="hot-list">
                    <li><img src="../../public/image/poster/player-2.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-3.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-4.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-5.jpg" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="column main-rank">
            <div class="section">
                <h3>排行榜<span>RANKLIST</span></h3>
                <div class="rank">
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicUp.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐飙升榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="up"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicNew.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐新歌榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="new"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicCreate.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">原创歌曲榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="create"></a>
                        </div>
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="sidebar">
                <h3>听友评论</h3>
            </div>
        </div>
    </div>
</div>
