<link rel="stylesheet" href="../../public/home/css/index.css">
<div class="wrap">
    <div class="wrap-in">
        <div class="cloumn main-top">
            <div class="btns">
                <a href="javascript:;" class="btn-down" title="客户端下载">客户端下载</a>
                <a href="javascript:;" class="btn-reg sm">注册帐号</a>
                <a class="tool-border"></a>
                <a href="javascript:;" class="btn-browse sm">站台一览</a>
                <a href="javascript:;" class="btn-gift sm">等级礼包</a>
            </div>
            <div class="slides">
                <ul class="points">
                    <li><a href="javascript:;"><img src="../../public/image/poster/player-1.jpg" alt="图片-1"/></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/player-2.jpg" alt="图片-2"/></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/player-3.jpg" alt="图片-3"/></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/player-4.jpg" alt="图片-4"/></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/player-5.jpg" alt="图片-5"/></a></li>
                </ul>
                <ul class="sub-tips">
                    <li class="active">●</li><li>●</li><li>●</li><li>●</li><li>●</li>
                </ul>
            </div>
            <div class="aside">
                <ul class="aside-tab">
                    <li><a href="javascript:;" class="active">最新</a></li>
                    <li><a href="javascript:;">活动</a></li>
                    <li><a href="javascript:;">公告</a></li>
                    <li><a href="javascript:;">焦点</a></li>
                    <li class="tab-tool">+</li>
                </ul>
                <ul class="aside-list"></ul>
            </div>
        </div>

        <div class="column main-type">
            <div class="enter">
                <ul class="enter-btns">
                    <li><a href="javascript:;">听歌</a></li>
                    <li class="border-aside"></li>
                    <li><a href="javascript:;">活动</a></li>
                    <li class="border"></li>
                    <li><a href="javascript:;">VIP</a></li>
                    <li class="border-aside"></li>
                    <li><a href="javascript:;">领奖</a></li>
                </ul>
                <ul class="enter-share">
                    <li><a href="javascript:;">官方微信</a></li><li class="bdr-aside">|</li>
                    <li><a href="javascript:;">新浪微博</a></li><li class="bdr-aside">|</li>
                    <li><a href="javascript:;">YY语音</a></li>
                </ul>
            </div>
            <div class="acts">
                <ul class="acts-list">
                    <li><a href="javascript:;"><img src="../../public/image/poster/hit-1.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/hit-2.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/hit-3.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/hit-4.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="column main-pro">
            <div class="section">
                <h3>新碟上架<span>PROMOTION</span></h3>
                <ul class="pro-list">
                    <li><a href="javascript:;"><img src="../../public/image/poster/view-1.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/view-2.jpg" alt=""></a></li>
                    <li><a href="javascript:;"><img src="../../public/image/poster/view-3.jpg" alt=""></a></li>
                </ul>
            </div>
            <div class="sidebar"><img src="../../public/image/poster/wrap.png" alt=""></div>
        </div>

        <div class="column main-hot">
            <div class="sidebar">
                <h3><i class="icon"></i>歌曲分类</h3>
                <ul class="hot-tab">
                    <li><a href="javascript:;">华语 - 流行<i></i></a></li>
                    <li><a href="javascript:;">轻音 - 弹奏<i></i></a></li>
                    <li><a href="javascript:;">摇滚 - 电子<i></i></a></li>
                    <li><a href="javascript:;">古典 - 民谣</a></li>
                </ul>
                <a href="javascript:;" class="hot-load">所有分类&gt;</a>
            </div>
            <div class="section">
                <h3>热门歌单<span>PLAYLIST</span></h3>
                <ul class="hot-list">
                    <li><img src="../../public/image/poster/player-2.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-3.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-4.jpg" alt=""></li>
                    <li><img src="../../public/image/poster/player-5.jpg" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="column main-rank">
            <div class="section">
                <h3>排行榜<span>RANKLIST</span></h3>
                <div class="rank">
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicUp.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐飙升榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="up"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicNew.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">云音乐新歌榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="new"></a>
                        </div>
                        </dt>
                    </dl>
                    <div class="blk-border"></div>
                    <dl class="rank-blk">
                        <dt class="top">
                            <a href="javascript:;" class="dt-img"><img src="../../public/image/poster/musicCreate.jpg" alt=""></a>
                        <div class="dt-txt">
                            <a href="javascript:;" class="title">原创歌曲榜</a>
                            <a href="javascript:;" class="icon icon-play"></a>
                            <a href="javascript:;" class="icon icon-store" data-type="create"></a>
                        </div>
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="sidebar">
                <h3>听友评论</h3>
            </div>
        </div>
    </div>
</div>
