<link rel="stylesheet" href="../../public/home/css/form.css">
<div class="wrap">
    <div class="wrap-in">
        <form name="login">
            <div class="title">
                <h3>邮箱登录</h3>
            </div>
            <div class="text text-top">
                <input type="text" name="user" placeholder="邮箱">
            </div>
            <div class="text">
                <input type="password" name="pwd" placeholder="密码">
            </div>
            <div class="tips">
                <!-- 帐号或密码不匹配 -->
            </div>
            <div class="operate">
                <input type="checkbox" id="autoLogin"><label for="autoLogin">自动登录</label>
                <span>忘记密码?</span>
            </div>
            <div class="submit">
                <input type="submit" value="登录">
            </div>
            <div class="bottom">
                <a href="#/reg">没有帐号？免费注册 > </a>
            </div>
        </form>
    </div>
</div>