<link rel="stylesheet" href="../../public/home/css/my.css">
<div class="wrap">
    <div class="wrap-in">
        <div class="main-title column">
            <div class="title-img"></div>
            <div class="title-info">
                <a href="#/upload"><button type="button">上传音乐</button></a>
                <h3><span></span><input type="button" value="编辑个人资料"></h3>
                <div class="sml sml-area">所在地区：广东省-广州市</div>
                <div class="sml sml-age">年龄：00后</div>
            </div>
        </div>
        <div class="main-mlist column">
            <h3>我的收藏</h3>
            <ul></ul>
        </div>
        <div class="main-mform column">
            <h3>我的歌单</h3>
            <ul></ul>
        </div>
        <div class="main-mfriend column">
            <h3>我的好友</h3>
            <ul></ul>
        </div>
    </div>
</div>