<link rel="stylesheet" href="../../public/home/css/form.css">
<div class="wrap">
    <div class="wrap-in">
        <form name="reg">
            <div class="title">
                <h3>邮箱注册</h3>
            </div>
            <div class="text text-top">
                <input type="text" name="name" placeholder="昵称">
            </div>
            <div class="text">
                <input type="text" name="email" placeholder="邮箱">
            </div>
            <div class="text">
                <input type="password" name="pwd" placeholder="登录密码（6-16位）">
            </div>
            <div class="text">
                <input type="password" name="repwd" placeholder="确认密码">
            </div>
            <div class="tips"></div>
            <div class="submit">
                <input type="submit" value="下一步">
            </div>
        </form>

    </div>
</div>