
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="header"><!-- **** --></div>

	<div class="content">
		<!-- *** -->
		<div class="my-box">
			<img class="my-img" src="http://www.qclejia.com/images/***.jpg" alt="">
		</div>
		<div class="my-box">
			<img class="my-img" src="http://www.qclejia.com/images/***.jpg" alt="">
		</div>
		<div class="my-box">
			<img class="my-img" src="http://www.qclejia.com/images/***.jpg" alt="">
		</div>
		....
	</div>

	<div class="footer"><!-- **** --></div>

<script type="text/javascript">
	// 网站的js代码
</script>

<!-- 插件代码  这里时公共代码区域 	-->
<script type="text/javascript" src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="./dest/js/getthelook.min.js"></script>
<script type="text/javascript">
	$(".my-box").getthelook({
		type: 2,			// 按照实际需求修改类型 
		user: "myFashion",	// 依据具体项目传递用户名
		imgClass: "my-img"	// 参考具体页面的img标签类名
	})
</script>
<!-- end -->

</body>
</html>